header {
    flex-direction: column;
}

h1 {
    font-weight: 300;
    font-style: italic;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.card-result {
    margin: 2.8rem 0;
}

p {
    margin: 0.4rem 0;
}

.repo-container {
    flex: 5 1 0;
}

.repo-description {
    max-width: 80dvw;
    max-height: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author-container {
    justify-content: end;
    flex: 1 1 0;
}

.name-pic-pair {
    text-align: center;
}

.author-pic {
    border-radius: 50%;
    width: 6rem;
}