header, main {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 1.5rem;
}

header {
    flex-direction: column;
}

h1 {
    font-weight: 300;
    font-style: italic;
}

#search-field, #search-btn {
    outline: 0;
    border: none;
    padding: 0.45rem;
    font-size: 0.9rem;
    border: 1px solid #666;
    border-radius: 0.4rem;
}

#search-field {
    width: 15rem;
}

#search-btn:hover {
    cursor: pointer;
    background-color: #ccc;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.card-result {
    margin: 2.8rem 0;
}

p {
    margin: 0.4rem 0;
}

.repo-container {
    flex: 5 1 0;
}

.repo-description {
    max-width: 80dvw;
    max-height: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author-container {
    justify-content: end;
    flex: 1 1 0;
}

.name-pic-pair {
    text-align: center;
}

.author-pic {
    border-radius: 50%;
    width: 6rem;
}